.ticket
    display: grid
    column-gap: 30px
    grid-template-columns: 40% 20%
    justify-content: center
    justify-items: center

.ticketName
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 32px
    line-height: 39px
    text-align: center

.ticketStatus
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 32px
    line-height: 39px
    text-align: center
    background: #22C55E
    border-radius: 20px
    width: 50%
