.titleComponent
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 32px
    line-height: 39px
    text-align: center

.title
    display: grid
    column-gap: 30px
    grid-template-columns: 40% 20%
    justify-content: center
.ticketStatus
    color: #fff
.paginatonStyle
    display: flex
    justify-content: center
    margin-top: 20px
    margin-bottom: 20px
.pagination
    cursor: pointer
    display: flex
    flex-direction: raw
    justify-content: space-evenly
    margin: 20px 35%
    font-family: Impact
.previous 
    width: 20px
    height: 20px
    background-color: #000
.next
    width: 20px
    height: 20px
    background-color: #000
ul
    list-style-type: none