.titleComponent
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 32px
    line-height: 39px
    text-align: center

.title
    display: grid
    column-gap: 30px
    grid-template-columns: 40% 20%
    justify-content: center
.ticketStatus
    color: #fff
.paginatonStyle
    display: flex
    justify-content: center
    margin-top: 20px
    margin-bottom: 20px
.pagination
    cursor: pointer
    display: flex
    flex-direction: raw
    justify-content: space-evenly
    margin: 20px 35%
    font-family: Impact
    font-size: 25px
.previous
    width: 30px
    height: 30px
    background-color: #000
.next
    width: 30px
    height: 30px
    background-color: #000
ul
    list-style-type: none

.CheckTitle
    margin-right: 20px
    font-family: 'Inter Regular'
    font-size: 24px
.TopBlock
    font-family: Inter
    font-size: 24px
.BottomBlock
    display: flex
    flex-direction: row
.propsText
    font-family: 'Inter Regular'
    font-size: 24px
.initialValue
    margin: 20px
    
.saveButton
    margin-top: 20px
    display: flex
    justify-content: center
    align-items: center
    align-content: center
    padding: 5px
    background: #0C4A6E
    border: 2.5px solid #0C4A6E
    border-radius: 20px
    cursor: pointer
    color: #fff
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 30px
    text-decoration: none
.propsText
    font-family: 'Inter Medium'
    font-size: 26px